.experience {
  background: #1a1a1a;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

.experiences {
  padding: 20px 0;
}

.experience summary {
  cursor: pointer;
  list-style: none;
  outline: none;
}

.summary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}


.summary-content h3 {
  font-weight: 600;
  font-size: 1rem;
  color: #fecc1b;
  margin: 10px 0;
}

.summary-content .date_exp {
  font-size: .8rem;
  color: #c8c8c8;
  margin: 0;
}

.summary-content .position_exp {
  font-weight: 500;
  font-size: 1rem;
  color: #eee;
  padding: 0;
  margin: 0;
}

.arrow {
  transition: transform .3s ease;
  color: white;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.experience-details {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity .5s ease;
}

.experience[open] .experience-details {
  max-height: 100%;
  opacity: 1;
}

.experience.closing .experience-details {
  max-height: 0 !important;
  opacity: 0 !important;
}

.experience-details .description_exp {
  font-size: .9rem;
  line-height: 1.5rem;
  color: white;
  margin: .5rem 0;
}
.experience-details .title_gains {
  font-size: 1rem;
  color: #fecc1b;
}
.experience-details .list_gains .gain {
  font-size: .9rem;
  line-height: 1.3rem;
}
ul li::marker {
  color: #fecc1b;
  font-size: 1rem;
}

.list_gains {
  color: white;
}


@media (min-width: 1098px) {
  .experiences {
    width: 50%;
  }
}