/* From Uiverse.io by SivarajRathinam */ 
.container_experiences {
  background-image: url('../../public/img/fondoExp.png');
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
}

.container_experiences h2 {
  font-weight: 900;
  font-size: 1.3rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  text-shadow: 4px 4px 16px rgb(92, 92, 92);
  text-align: center;
}

.experiences-section  {
  display: flex;
  flex-direction: column;
}


@media (min-width: 1098px) {
  .container_experiences h2 {
    font-size: 36px;
  }

  .experiences-section  {
    padding: 0 48px;
    flex-direction: row;
    gap: 3rem;
  }
}