.experience {
  background: black;
  color: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  overflow: hidden;
}

.experiences {
  padding: 20px 0;
}

.experience summary {
  cursor: pointer;
  list-style: none;
  outline: none;
}

.summary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.summary-content h3 {
  font-weight: 900;
  font-size: 1.5rem;
  color: #fecc1b;
  margin: 10px 0;
}

.summary-content .date_exp {
  font-size: 1rem;
  font-weight: 600;
  color: #c8c8c8;
  margin: 0;
}

.summary-content .position_exp {
  font-weight: 600;
  font-size: 1rem;
  color: #c8c8c8;
  padding: 0;
  margin: 0;
}

.arrow {
  transition: transform 1s ease;
  color: white;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.experience-details {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity .5s ease;
}

.experience[open] .experience-details {
  max-height: 100%;
  opacity: 1;
}

.experience.closing .experience-details {
  max-height: 0 !important;
  opacity: 0 !important;
}

.experience-details .description_exp {
  font-size: .9rem;
  line-height: 1.5rem;
  color: white;
  margin: .5rem 0;
}
.experience-details .title_gains {
  font-size: 1rem;
  color: #fecc1b;
}
.experience-details .list_gains .gain {
  font-size: .9rem;
  line-height: 1.3rem;
}
ul li::marker {
  color: #fecc1b;
  font-size: 1rem;
}