.footer {
    padding: 0;
    text-align: left;
}

.title_footer {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: .85rem;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    margin: 1rem 0 1rem 0;
}

.footer_available{
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    font-size: .85rem;
}

.contactMe {
    max-width: 100%;
    margin: 0 32px;
    gap: 1rem;
}

.copy {
    width: 100%;
    background-image: url('../img/copy.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #999;
}

.copy_text {
    text-align: center;
    justify-content: center;
    color: black;
    font-size: .85rem;
    font-weight: 400;
    margin: 0;
    padding: .5rem 0;
    text-shadow: 4px 4px 16px rgb(255, 255, 255);
}

.footer_location {
  font-size: .85rem;
  color: white;
  margin: 1rem 0;
}

.contact_link {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  color: red;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: .85rem;
}

.contact_link:hover {
  color: rgb(252, 137, 137);
}

.whatsapp_btn {
  display: flex;
  align-items: center;
  color: #25D366;
  font-weight: bold;
  text-decoration: none;
  font-size: .85rem;
  margin: 1rem 0;
  transition: color 0.3s ease;
}

@media (min-width: 1098px) {
  .contactMe {
    margin: 0 85px;
  }
  .title_footer {
    font-size: 1rem;
  }
  .whatsapp_btn {
    font-size: 1rem;
  }
  .contact_link {
    font-size: 1rem;
  }
  .footer_location {
    font-size: 1rem;  
  }
  .footer_available{
    font-size: 1rem;
}
}