.container_skills {
  padding: 20px 32px;
  text-align: center;
}

.title_skills {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 4px 4px 10px rgb(255, 255, 255);
}
.title_skill{
    color: white;
}

.skill_group {
  margin: 1rem 0;
}

.skills_list {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skill_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  color: #ccc;
  transition: transform 0.2s ease;
}

.skill_item:hover {
  transform: scale(1.2);
  font-weight: 900;
}

.skill_icon {
  width: 50px;
  height: 50px;
  transition: transform 0.4s ease;
}

.skill_item:hover .skill_icon {
    transform: rotate(10deg) scale(1.1);
}

.level {
  font-weight: 600;
}

.level_avanzado, .level_advanced {
  color: #4caf50;
}

.level_intermedio, .level_intermediate {
  color: #ffc107;
}

.level_basico, .level_beginner {
  color: #f44336;
}

.tech_name {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #ddd;
}

@media (min-width: 1098px) {
  .skills_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
  }

  .skills_right,
  .skills_left {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title_skills {
    font-size: 36px;
  }
}